<mat-toolbar color="primary">
  <button mat-button class="header-height-max"
  [routerLink]="['/projects']">
    <span class="mat-h1">CodeDrive</span>
  </button>

  <span class="fill-remaining-space"></span>

  <button mat-button class="header-height-max"
          [routerLink]="['/about']">
    About
  </button>
  <button mat-button class="header-height-max"
          [routerLink]="['/contact']">
    Contact
  </button>
  <button mat-button class="header-height-max" (click)="openDialog()">Login</button>
</mat-toolbar>
